In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import stockdata as sd
import pandas as pd

#### Get weekly, monthly, yearly data from daily data

In [6]:
dfwly = df.groupby(['symbol', 'year', 'wknr']).last().reset_index().set_index('date')
dfmly = df.groupby(['symbol', 'year', 'month']).last().reset_index().set_index('date')
dfyly = df.groupby(['symbol', 'year']).last().reset_index().set_index('date')

#### Calculate Percent Change and Change Value

In [6]:
%%time
df = sd.getdata("select * from nsehistprice where symbol in('INDUSINDBK', 'AXISBANK', 'HDFCBANK', 'SBIN')")
df['date'] = pd.to_datetime(df['date'])
df = df[['date', 'symbol', 'close']]

Wall time: 263 ms

In [ ]:
df.set_index(['symbol', 'date'])

In [7]:
df.shape

(21813, 3)

In [10]:
%%time
df['prev_close'] = df.groupby('symbol').close.transform(lambda x: x.shift(1))
df['pct_change'] = df.groupby('symbol').close.transform(lambda x: round(x.pct_change(1) * 100,2))
df['prev_5d_close'] = df.groupby('symbol').close.transform(lambda x: x.shift(5))
df['5d_pct_change'] = df.groupby('symbol').close.transform(lambda x: round(x.pct_change(5) * 100,2))
df['prev_70d_close'] = df.groupby('symbol').close.transform(lambda x: x.shift(70))
df['70d_pct_change'] = df.groupby('symbol').close.transform(lambda x: round(x.pct_change(70) * 100,2))
df.fillna(0, inplace=True)

Wall time: 100 ms

In [11]:
df.head()

,date,symbol,close,prev_close,pct_change,prev_5d_close,5d_pct_change,prev_70d_close,70d_pct_change
0,1998-11-27,AXISBANK,3.40,0.00,0.00,0.0,0.0,0.0,0.0
1,1998-11-30,AXISBANK,3.21,3.40,-5.59,0.0,0.0,0.0,0.0
2,1998-12-01,AXISBANK,3.39,3.21,5.61,0.0,0.0,0.0,0.0
3,1998-12-02,AXISBANK,3.39,3.39,0.00,0.0,0.0,0.0,0.0
4,1998-12-03,AXISBANK,3.39,3.39,0.00,0.0,0.0,0.0,0.0

In [12]:
df[df.symbol == 'INDUSINDBK'].tail()

,date,symbol,close,prev_close,pct_change,prev_5d_close,5d_pct_change,prev_70d_close,70d_pct_change
15774,2020-06-04,INDUSINDBK,415.05,432.35,-4.00,386.85,7.29,1172.95,-64.61
15775,2020-06-05,INDUSINDBK,422.35,415.05,1.76,393.65,7.29,1140.70,-62.97
15776,2020-06-08,INDUSINDBK,451.60,422.35,6.93,410.10,10.12,1142.15,-60.46
15777,2020-06-09,INDUSINDBK,463.90,451.60,2.72,434.70,6.72,1182.20,-60.76
15778,2020-06-10,INDUSINDBK,499.60,463.90,7.70,432.35,15.55,1170.25,-57.31

In [175]:
df[df.date=='2020-06-09'].to_csv('a.csv', index='False')