In [78]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import stockdata as sd
import pandas as pd
import numpy as np

In [230]:
sql = '''
select * 
from histprice
where 1 = 1
and freq in ('w', 'm')
and (symbol like '%ETF%' or symbol like '%100%' or symbol like '%BEES%')
'''
df = sd.getdata(sql)

In [299]:
df.shape
df.head()
df[df.symbol == 'NIFTYBEES'][['symbol', 'freq']].value_counts()
df[df.symbol == 'BANKBEES'][['symbol', 'freq']].value_counts()
df[df.symbol == 'JUNIORBEES'][['symbol', 'freq']].value_counts()
df[df.symbol == 'GOLDBEES'][['symbol', 'freq']].value_counts()
df[df.symbol == 'NETFIT'][['symbol', 'freq']].value_counts()
df[df.symbol == 'N100'][['symbol', 'freq']].value_counts()
freq    = list(df.freq.unique())
symbols = list(df.symbol.unique())
freq
symbols

(3792, 16)

,freq,date,symbol,open,low,high,close,adjclose,volume,year,month,day,wkday,wknr,qrtr,runts
0,w,2008-12-29,NIFTYBEES,29.90,29.76,31.37,31.17,31.17,4656630,2008,12,29,1,1,4,Tue Feb-23-2021 11:00
1,w,2009-01-05,NIFTYBEES,31.10,27.56,31.50,27.73,27.73,10809220,2009,1,5,1,2,1,Tue Feb-23-2021 11:00
2,w,2009-01-12,NIFTYBEES,27.70,27.30,28.80,28.45,28.45,5327900,2009,1,12,1,3,1,Tue Feb-23-2021 11:00
3,w,2009-01-19,NIFTYBEES,28.39,27.04,28.55,27.21,27.21,3815280,2009,1,19,1,4,1,Tue Feb-23-2021 11:00
4,w,2009-01-26,NIFTYBEES,27.30,27.25,29.10,28.17,28.17,4828900,2009,1,26,1,5,1,Tue Feb-23-2021 11:00

symbol     freq
NIFTYBEES  w       635
           m       147
dtype: int64

symbol    freq
BANKBEES  w       635
          m       147
dtype: int64

symbol      freq
JUNIORBEES  w       635
            m       147
dtype: int64

symbol    freq
GOLDBEES  w       635
          m       147
dtype: int64

symbol  freq
NETFIT  w       23
        m        6
dtype: int64

symbol  freq
N100    w       516
        m       119
dtype: int64

['w', 'm']

['NIFTYBEES', 'BANKBEES', 'GOLDBEES', 'NETFIT', 'N100', 'JUNIORBEES']

In [292]:
def CalculateCAGR(start, end, periods):
    return np.round((((end/start)**(1/periods)) - 1)*100, 2)

def CAGR(df, symbol, startyr, endyr):
    df = df[(df.symbol == symbol) & (df.freq == 'm') & (df.year >= startyr) & (df.year <= endyr)]
    start_price = df.close.iloc[0]
    final_price = df.close.iloc[-1]
    periods = endyr - startyr + 1
    cagr = CalculateCAGR(start_price, final_price, periods)
    return cagr

In [294]:
CAGR(df, 'NIFTYBEES', 2015, 2020)

8.57

In [298]:
df.groupby('symbol').agg({'year' : ['min', 'max', 'count']}).reset_index()

       symbol  year
                min   max count
0    BANKBEES  2008  2021   782
1    GOLDBEES  2008  2021   782
2  JUNIORBEES  2008  2021   782
3        N100  2011  2021   635
4      NETFIT  2020  2021    29
5   NIFTYBEES  2008  2021   782

In [314]:
symbols = ['NIFTYBEES', 'BANKBEES', 'JUNIORBEES', 'GOLDBEES', 'NETFIT', 'N100']
cagr_2y  = [CAGR(df, s, 2019, 2020) for s in symbols]
cagr_3y  = [CAGR(df, s, 2018, 2020) for s in symbols]
cagr_5y  = [CAGR(df, s, 2016, 2020) for s in symbols]
cagr_10y = [CAGR(df, s, 2011, 2020) for s in symbols]
x = pd.DataFrame({'symbols':symbols, 'cagr_2y':cagr_2y, 'cagr_3y':cagr_3y, 'cagr_5y':cagr_5y, 'cagr_10y':cagr_10y})
x
# x.to_csv('ETS_CAGR.csv')

      symbols  cagr_2y  cagr_3y  cagr_5y  cagr_10y
0   NIFTYBEES    13.53    10.37    15.58     10.43
1    BANKBEES     5.94     6.44    16.88     11.37
2  JUNIORBEES    10.33     3.50    14.04     12.33
3    GOLDBEES    20.24    16.03     9.99      7.76
4      NETFIT     8.59     5.65     3.35      1.66
5        N100    36.98    21.92    26.66     24.73