In [68]:
import stockdata as sd
import pandas as pd

In [62]:
def readindexweighatge(indexname, url):
    df = pd.read_html(url)[1]
    df = df[['Company Name', 'Weightage']]
    df.insert(0, 'Index Name', indexname)
    return df

def processdf(df):
    df['Company Name'] = df['Company Name'].apply(lambda x: x.replace('Ltd.', '').replace('Limited', ''))
    df['Weightage'] = df['Weightage'].apply(lambda x: x.replace('%', ''))
    df['Weightage'] = pd.to_numeric(df['Weightage'])
    return df

In [63]:
df = readindexweighatge('Nifty 50', 'https://www.moneyworks4me.com/best-index/nse-stocks/top-nifty50-companies-list/')
df = readindexweighatge('Nifty 100', 'https://www.moneyworks4me.com/best-index/nse-stocks/top-nse100-companies-list/')
df = readindexweighatge('Nifty Bank', 'https://www.moneyworks4me.com/nse-index/top-nse-bank-companies-list/')
df = processdf(df)

In [65]:
df.dtypes

Index Name       object
Company Name     object
Weightage       float64
dtype: object

In [64]:
df.head()

  Index Name                      Company Name  Weightage
0   Nifty 50              Reliance Industries       12.46
1   Nifty 50                        HDFC Bank       10.66
2   Nifty 50  Housing Development Fin. Corp. £       7.00
3   Nifty 50                          Infosys        6.22
4   Nifty 50                       ICICI Bank        5.25

In [2]:
import pandas as pd
df = pd.read_excel(r'C:\ajit\stockanalysis\stockdata\indices\indices.xlsx', sheet_name='NSE')

In [7]:
df[df.url.notna()].shape

(35, 6)