In [10]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [11]:
import stockdata as sd
import pandas as pd
import arrow

#### Function to fetch previous days, months & years close values of given symbol

In [20]:
def getprevclosevalues(df, date=None):
    dt = df.index[df.index <= arrow.get(date).format('YYYY-MM-DD')].max() or df.index.max()
    close = df.loc[dt,'close']
    ddts = [arrow.get(dt).shift(days=-i) for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]]
    mdts = [arrow.get(dt).shift(months=-i) for i in [1,2,3,4,5,6,9]]
    ydts = [arrow.get(dt).shift(years=-i) for i in range(1,11)]
    dates = [df.index[df.index <= dt.format('YYYY-MM-DD')].max() for dt in ddts+mdts+ydts]
    values = [dt, close] + [0 if pd.isna(dt) else df.loc[dt,'close'] for dt in dates]
    return values

#### Read close price from database and Calculate previous close prices(days/months/years) of all symbols

In [21]:
%%time
date = None
df = sd.getdata("select date, symbol, close from nsehistprice where year>=2009")
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
close_values = df.groupby('symbol').apply(lambda x: getprevclosevalues(x, date))
data = [value for value in close_values]
cols = ['date','close'
        ,'close1d','close2d','close3d','close4d','close5d','close6d','close7d','close8d','close9d'
        ,'close10d','close11d','close12d','close13d','close14d','close15d'
        ,'close1m','close2m','close3m','close4m', 'close5m','close6m','close9m'
        ,'close1y','close2y','close3y','close4y','close5y','close6y','close7y','close8y','close9y','close10y']
df = pd.DataFrame(data, index=close_values.index, columns=cols).reset_index()
del(close_values)

Wall time: 20.2 s

In [22]:
df.head()

,symbol,date,close,close1d,close2d,close3d,close4d,close5d,close6d,close7d,...,close1y,close2y,close3y,close4y,close5y,close6y,close7y,close8y,close9y,close10y
0,20MICRONS,2020-06-17,30.15,31.55,30.15,28.05,28.05,28.05,28.10,29.15,...,34.95,38.40,39.15,29.3,32.30,35.0,30.40,43.45,25.25,20.52
1,21STCENMGM,2020-06-17,10.40,10.30,10.50,10.65,10.65,10.65,10.85,11.00,...,17.85,36.95,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00
2,3IINFOTECH,2020-06-17,2.55,2.45,2.35,2.25,2.25,2.25,2.35,2.40,...,3.30,4.55,4.40,5.4,5.05,12.3,5.05,9.65,46.45,63.45
3,3MINDIA,2020-06-17,18629.60,18479.60,17199.60,17404.40,17404.40,17404.40,17578.60,18260.10,...,22218.90,19579.10,13894.70,12428.2,8197.45,4497.2,3529.40,3621.15,3927.05,2637.75
4,3PLAND,2020-06-17,5.60,5.60,5.60,5.60,5.60,5.60,5.60,5.35,...,9.25,13.65,11.00,9.6,11.55,11.0,9.95,0.00,0.00,0.00

#### Calculate Average Return

In [76]:
ar = lambda y, x: 0 if y==0 else round((y - x)/y, 4)

In [80]:
%%time
df_ardly = pd.DataFrame()
df_ardly['symbol'] = df['symbol']
df_ardly['date']   = df['date']
df_ardly['currentprice'] = df['close']
for i in range(1,16):
    df_ardly[f'ar{i}d'] = df.apply(lambda x: ar(x['close'], x[f'close{i}d']), axis=1)
df_ardly.head()

Wall time: 880 ms

,symbol,date,currentprice,ar1d,ar2d,ar3d,ar4d,ar5d,ar6d,ar7d,ar8d,ar9d,ar10d,ar11d,ar12d,ar13d,ar14d,ar15d
0,20MICRONS,2020-06-17,30.15,-0.0464,0.0000,0.0697,0.0697,0.0697,0.0680,0.0332,0.0249,-0.0531,0.0216,0.0216,0.0216,0.0614,0.0431,0.0879
1,21STCENMGM,2020-06-17,10.40,0.0096,-0.0096,-0.0240,-0.0240,-0.0240,-0.0433,-0.0577,-0.0673,-0.0481,-0.0288,-0.0288,-0.0288,-0.0192,-0.0385,-0.0577
2,3IINFOTECH,2020-06-17,2.55,0.0392,0.0784,0.1176,0.1176,0.1176,0.0784,0.0588,0.0980,0.1765,0.2353,0.2353,0.2353,0.2941,0.3137,0.3333
3,3MINDIA,2020-06-17,18629.60,0.0081,0.0768,0.0658,0.0658,0.0658,0.0564,0.0198,0.0248,0.0192,0.0349,0.0349,0.0349,0.0299,0.0386,0.0356
4,3PLAND,2020-06-17,5.60,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0446,0.0446,0.0893,0.1250,0.1250,0.1250,0.1607,0.1607,0.1607

In [79]:
%%time
df_ar = pd.DataFrame()
df_ar['symbol'] = df['symbol']
df_ar['date']   = df['date']
df_ar['currentprice'] = df['close']
ar_list = ['1d', '5d', '10d', '15d'] + list(map(lambda x: x.replace('close', ''), cols[17:]))
for i in ar_list:
    df_ar[f'ar{i}'] = df.apply(lambda x: ar(x['close'], x[f'close{i}']), axis=1)
df_ar.head()

Wall time: 1.02 s

,symbol,date,currentprice,ar1d,ar5d,ar10d,ar15d,ar1m,ar2m,ar3m,...,ar1y,ar2y,ar3y,ar4y,ar5y,ar6y,ar7y,ar8y,ar9y,ar10y
0,20MICRONS,2020-06-17,30.15,-0.0464,0.0697,0.0216,0.0879,0.1343,0.0464,0.1857,...,-0.1592,-0.2736,-0.2985,0.0282,-0.0713,-0.1609,-0.0083,-0.4411,0.1625,0.3194
1,21STCENMGM,2020-06-17,10.40,0.0096,-0.0240,-0.0288,-0.0577,-0.0048,-0.0481,-0.0817,...,-0.7163,-2.5529,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
2,3IINFOTECH,2020-06-17,2.55,0.0392,0.1176,0.2353,0.3333,0.3529,0.3529,0.3529,...,-0.2941,-0.7843,-0.7255,-1.1176,-0.9804,-3.8235,-0.9804,-2.7843,-17.2157,-23.8824
3,3MINDIA,2020-06-17,18629.60,0.0081,0.0658,0.0349,0.0356,0.0512,-0.0575,0.0300,...,-0.1927,-0.0510,0.2542,0.3329,0.5600,0.7586,0.8105,0.8056,0.7892,0.8584
4,3PLAND,2020-06-17,5.60,0.0000,0.0000,0.1250,0.1607,0.0804,0.1786,0.3482,...,-0.6518,-1.4375,-0.9643,-0.7143,-1.0625,-0.9643,-0.7768,1.0000,1.0000,1.0000

#### Compunded Annual Growth Retrun(CAGR)

In [82]:
cagr = lambda y, x, n: 0 if x==0 or n==0 else round((pow((y/x), (1/n)) - 1), 4)

In [75]:
%%time
df_cagr = pd.DataFrame()
df_cagr['symbol']  = df['symbol']
df_cagr['date']    = df['date']
df_cagr['currentprice'] = df['close']
for i in range(1,11):
    df_cagr[f'cagr{i}y']  = df.apply(lambda x: cagr(x['close'], x[f'close{i}y'], 1), axis=1)
df_cagr.head()

Wall time: 668 ms

,symbol,date,currentprice,cagr1y,cagr2y,cagr3y,cagr4y,cagr5y,cagr6y,cagr7y,cagr8y,cagr9y,cagr10y
0,20MICRONS,2020-06-17,30.15,-0.1373,-0.2148,-0.2299,0.0290,-0.0666,-0.1386,-0.0082,-0.3061,0.1941,0.4693
1,21STCENMGM,2020-06-17,10.40,-0.4174,-0.7185,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,3IINFOTECH,2020-06-17,2.55,-0.2273,-0.4396,-0.4205,-0.5278,-0.4950,-0.7927,-0.4950,-0.7358,-0.9451,-0.9598
3,3MINDIA,2020-06-17,18629.60,-0.1615,-0.0485,0.3408,0.4990,1.2726,3.1425,4.2784,4.1447,3.7439,6.0627
4,3PLAND,2020-06-17,5.60,-0.3946,-0.5897,-0.4909,-0.4167,-0.5152,-0.4909,-0.4372,0.0000,0.0000,0.0000

#### Write dfs to excel

In [84]:
%%time
with pd.ExcelWriter('Returns.xlsx') as writer:
    df_ardly.to_excel(writer, sheet_name='Daily Avg. Retrun', index=False, freeze_panes=(1,0))
    df_ar.to_excel(writer, sheet_name='Avg. Retrun', index=False, freeze_panes=(1,0))
    df_cagr.to_excel(writer, sheet_name='CAGR', index=False, freeze_panes=(1,0))

Wall time: 1.72 s